h1 {
  color: rgb(135, 135, 135);
  display: block;
  font-family: arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 28.8px;
  margin: 0;
  padding: 0;
  text-align: left;
}

p {
  color: rgb(135, 135, 135);
  display: block;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 19.2px;
  text-align: left;
  margin: 0;
  padding: 0;
}

header {
  padding: 0 0 20px;
}

#weather-container {
  border: 1px solid rgb(223, 225, 229);
  border-radius: 4px;
  margin: 20px;
  padding: 20px;
}

#preview {
  width: 50%;
  float: left;
}

#preview img {
  float: left;
  color: rgb(34, 34, 34);
  display: block;
  float: left;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 64px;
  line-height: normal;
  text-align: left;
  user-select: none;
  width: 64px;
}

#preview h2 {
  float: left;
  color: rgb(33, 33, 33);
  display: inline;
  font-family: arial, helvetica, sans-serif;
  font-size: 64px;
  font-stretch: 100%;

  font-weight: 400;
  line-height: 64px;
  margin: 0;
  text-align: left;
  user-select: none;
}

#preview small {
  color: rgb(33, 33, 33);
  display: inline;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: normal;
  text-align: left;
  user-select: none;
  vertical-align: top;
  position: relative;
  top: 10px;
  width: auto;
  vertical-align: top;
}

#details {
  width: 50%;
  float: right;
}

#details ul {
  margin: 0;
  padding: 0;
}

#details li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#details li p {
  line-height: 22px;
}
